<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-feature android:name="android.hardware.camera"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity android:name=".LoginRegister" android:exported="false"/>
        <activity android:name=".CameraLoginPage" android:exported="false"/>
        <activity
            android:name=".congratulationPage"
            android:exported="false" />
        <activity
            android:name=".verifyID"
            android:exported="false" />
        <activity
            android:name=".cameraPage"
            android:exported="false" />
        <activity
            android:name=".IdentifyPage"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"/>
        <activity
            android:name=".PaymentRequest"
            android:exported="false"
            tools:ignore="Instantiatable"/>
        <activity
            android:name=".Payment"
            android:exported="false"
            tools:ignore="Instantiatable"/>
        <activity
            android:name=".RequestToPay"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".Register"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".View_details"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".Home"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".Login"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".True"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".QR"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".paymentAlert"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".edit_yourProfile"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".sendMoney"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".start_page"
            android:exported="true"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider android:name="androidx.core.content.FileProvider" android:authorities="com.example.myapplication.fileprovider" android:exported="false" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths"/>
        </provider>
        <provider android:name="androidx.core.content.FileProvider" android:authorities="com.example.myapplication.fileprovider" android:exported="false" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/image_paths"/>
        </provider>
    </application>

</manifest>
